@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*header background decoretade*/
header{
  background-color: #1A0B2E;
}
.navber{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 200px;

}
.logo{
  color:rgba(255, 255, 255, 1);
}
.logo span{
  background: linear-gradient(#F7E93F 0%,#FB09B4 51%,#9100F8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.list-style{
  display: flex;
  color:rgb(202, 195, 195); 
  list-style: none;
  gap: 32px;  
}
.btn-style{
  background:  linear-gradient(#F7E93F 0%,#FB09B4 51%,#9100F8 100%); 
  border: none;
  padding: 12px 16px;
  gap: 4px;
  border-radius: 10000px;
  font-weight: 600;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
}

.hamburger{
  display: none;
}



/*footer style*/
.footer {
      background-image: url(../assets/footer-bg.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    padding: 100px 20px 40px;
      text-align: center;
      
}

#footer-text{
  font-size: 25px;
  padding-bottom: 60px;
 
}

/*icon flex*/
.social-media{
  display: flex;
  color:rgb(165, 161, 161) ;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
  margin-bottom: 25px;
}
.icon-name{
  
  display: flex;
  align-items: center;
  gap: 10px;
}
.copy{

  color:rgb(205, 201, 201) ;
}




/*Mobile style*/
@media screen and (max-width:576px){
  .list-style ,.btn-style{
    display: none;
  }
  .navber{
    padding: 20px;
  }
  .hamburger{
    display: block;
  }
}