@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*header background decoretade*/
header{
  background-color: #1A0B2E;
}
.navber{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 200px;

}
.logo{
  color:rgba(255, 255, 255, 1);
  font-size: 30px;
   
}
.logo span{
  background: linear-gradient(#F7E93F 0%,#FB09B4 51%,#9100F8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.list-style{
  display: flex;
  color:rgb(202, 195, 195); 
  list-style: none;
  gap: 32px;  
}
.btn-style{
  background:  linear-gradient(#F7E93F 0%,#FB09B4 51%,#9100F8 100%); 
  border: none;
  padding: 12px 16px;
  gap: 4px;
  border-radius: 10000px;
  font-weight: 600;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
   filter: drop-shadow(0 0 40px rgba(255,78,205,0.7));
}

.hamburger{
  display: none;
}

/*______________________Banner_________________________*/

.banner{
  background: url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
 
}
/* for   circle*/
.podcast-circle{
  position: relative;
  width: 260px;
  height: 260px;
  margin-bottom: 25px;
  margin-top: -80px;
}
#circle{
  width: 100%;
  height: 100%;
}
#mic-icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  width: 90px;
 
}
.badge{
  position: absolute;
  top: 9px;
  right: 8px;
  background: #1de113;
  color: black;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 500;
  padding: 4px 10px;
  
}
.banner h1{
  color: #FFFF;
  font-size: 60px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 51px;
  filter: drop-shadow(0 0 40px rgba(148, 129, 143, 0.7));
}
.banner  p{
  color: aliceblue;
  opacity: .7;
}
.banner-btns{
  display: flex;
  gap: 18px;
  margin-top: 15px;
  margin-bottom: 20px;
}

#btn-primary{
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  text-align: center;
 
  border: none;
  padding: 12px 22px;
  border-radius: 10000px;
  background:  linear-gradient(#F7E93F 0%,#FB09B4 51% ,#9100F8 100%); 

  font-weight: 500;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
}

#btn-outline{
  display: flex;
  align-items: center;
  gap: 8px;

  border: 1px solid #00FF88;
  padding: 12px 22px;
  border-radius: 10000px;
  color: #00FF88 ;
 background: none;
}
/*________________________About section_________________*/
.about{
  padding: 80px 20px;
  text-align: center;
  background-color: #1A0B2E;
  margin-top: -101px;
}
.about h3{
  color: rgb(231, 228, 226);
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 10px;
  
}

.about p{
  color: aliceblue;
  opacity: .7;
  margin-bottom: 80px ;
  opacity: .7;
}

.Infos{
display: grid;
grid-template-columns: repeat(4 ,1fr);
justify-content: center;
flex-wrap: wrap;
margin-top: 40px;
gap: 20px;
border-top:  1px solid rgb(38, 38, 38);

}
.Info{
  text-align: center;
  margin: 20px;
}
.Info h2{
  font-size: 32px;
  font-weight: 900;
  color: aqua;
}

.Info span{
  display: block;
  font-size: 14px;
  color: aliceblue;
    opacity: .7;
}
/*_________________Why choose TechWave_________*/
body {
  background: #1e0536;
  color: #fff;
 
  
}
.container{
  max-width: 1100px;
  margin: 0 auto;
  padding: 80px 20px;
  display: grid;
  gap: 24px;
  

  grid-template-areas: 
  "h2 h2 h2 h2 h2 h2"
  "card1 card1 card2 card2 card2 card2"
  "card1 card1 card3 card3 card3 card3"
  "card4 card4 card4 card4 card4 card4" ;

}
.container h2{
  grid-area: h2;
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;

 
}
.container>div{
  background: linear-gradient( #300e44, #2d0554);
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
 ;
  
}
.card1{
  grid-area: card1;
}
.card2{
  grid-area: card2;
}
.card3{
  grid-area: card3;
}
.card4{
  grid-area: card4;
}

.container img{
  width: 36px;
  margin-bottom: 14px;
}

.container h4{
  font-size: 18px;
  margin-bottom: 10px;
 
 
}
.conatainer p{
  font-size: 10px;
  line-height: 1.6;
 
 

}

/* ===== Featured Episodes Section ===== */
.featured-episodes{
  padding: 80px 20px;
  background:#1A0B2E;
  color: #fff;
}

.featured-episodes h2{
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
}

.episodes-container{
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.episode-card{
  background: #2b0c48;
 padding:20px;
  border-radius: 18px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.episode-card:hover{
  transform: translateY(-6px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

.episode-card iframe{
  width: 100%;
  height: 200px;
  border-radius: 12px;
  border: none;
  margin-bottom: 16px;
}

.episode-card h3{
  font-size: 20px;
  margin-bottom: 10px;
}

.episode-card p{
  font-size: 15px;
  line-height: 1.6;
  opacity: 0.9;
}

.duration{
  margin-top: 12px;
  color: #00ffd5;
  font-size: 14px;
  
}
/*_________________Host____________________*/
.host-section {
 
  padding: 50px 20px;
  color: #fff;
  text-align: center;
  
  
}

.host-section h2 {
  font-size: 3.5rem;
  margin-bottom: 50px;
 margin-top: 50px;
  gap: 40px;
}

.host-card {
  display: flex;
  align-items: center;
  gap: 30px;
  max-width: 1200px;
  margin: 40px auto;
  padding: 30px;
  background-color: #250e44;
  border-radius: 30px;
}

.host-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.host-info {
  text-align: left;
}

.host-info h3 {
  font-size: 2rem;
  margin:  38px 25px;
 
}

.host-info p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom:16px ;
  margin-top: -20px;
  color: #fff;
  opacity: .7;
}

.social-icons a {
  display: inline-block;
  border: 1px solid rgb(54, 53, 53);
  border-radius: 10px;
  padding: 10px;
  margin-right: 10px;
}

.social-icons img {
  width: 20px;
  height: 20px;

}


/*footer style*/
.footer {
      background-image: url(../assets/footer-bg.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    padding: 100px 20px 40px;
      text-align: center;
      
}


#footer-text{
  font-size: 35px;
  color: aliceblue;
  padding-bottom: 60px;
  filter: drop-shadow(0 0 40px rgba(206, 93, 251, 0.7));
 
}
#footer-text span{
  background: linear-gradient(#F7E93F 0%,#FB09B4 51%,#9100F8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

/*icon flex*/
.social-media{
  display: flex;
  color:rgb(165, 161, 161) ;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
  margin-bottom: 25px;
   margin-top: -40px;
}
.icon-name{
  
  display: flex;
  align-items: center;
  gap: 10px;
}
.copy{

  color:rgb(191, 180, 180) ;
}




/*Mobile style*/
@media screen and (max-width:578px){
  .list-style ,.btn-style{
    display: none;
  }
  .navber{
    padding: 15px 20px;
   
  }
  .hamburger{
    display: block;
  }
  
  
  .banner h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .podcast-circle{
    width: 180px;
    height: 180px;
    margin-top: -40px;
  }
  #mic-icon{
    width: 60px;
  }
  .banner-btns{
    display: flex;
    gap: 18px;
   width: 90%;
    margin-top: 15px;
  }


  .container {
    grid-template-areas:
      "h2"
      "card1"
      "card2"
      "card3"
      "card4";

    grid-template-columns: 1fr;
  }

  .container {
    padding: 40px 16px;
  }

  .container h2 {
    font-size: 26px;
  }

  .container > div {
    padding: 24px;
  }
  .episodes-container{
    grid-template-columns: 1fr;
  }

  .episode-card iframe{
    height: 180px;
  }

  .featured-episodes h2{
    font-size: 28px;
  }

 
}

@media screen and (min-width: 579px) and (max-width: 992px){

  .navber{
    padding: 20px 40px;
  }

  .list-style{
    gap: 20px;
    font-size: 15px;
  }
  .banner h1{
    font-size: 44px;
    margin-bottom: 30px;
  }

}